* {
    /* Temporary style for test/debugging (TODO) */
    padding: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: red;
}

header {
    background-color: #9e0e0e;
    padding: 50px;
}

header h1 {
    color: red;
    font-size: larger;
    display: inline-block;
}

nav {
    display: inline-block;
    justify-content: right;
}

/* nav ul {
    justify-content: right;
} */

nav li {
    display: inline-block;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:oblique;
    font-size:large;
    line-height: 125%;
    background-color: bisque;
    margin: 20px;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

main > section {
    border-style: dashed;
    border-width: 2px;
    padding:2px;
    border-color: blue;    
}

.sub-title {
    color: #1a8b1a;  /* temporary TODO */
    font-weight:700;
}

.sub-desc {
    color: #2424c2; /* temporary TODO */
}

.work-proj-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.work-project {
    background-color: aqua;
    padding: 30px;
    color: black;
    margin: 20px;
}

.star-project {
    background-color: aquamarine;
    color: #081030;
}

@media screen and (max-width: 768px) {  /* TODO - check this number */
    main {
        display: grid;
        grid-template-columns: 1fr;
    }
    .sub-title {
        color: #08ee08;  /* temporary TODO */
        font-weight:700;
        font-style: bold;
    }
}


