* {
    /* Temporary style for test/debugging (TODO) */
    padding: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--todo-temp-marg);
}

:root {
    --todo-temp-marg: rgb(160, 163, 188);
    --body-bg: rgb(237,238,245);
    --body-clr: rgb(72,87,115);
    --hdr-bg: rgb(50,52,60);
    --link-and-highlight: rgb(158,202,204);
    --link-hover: rgb(196, 249, 251);
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 125%;
    background-color: var(--body-bg);
    color: var(--body-clr);
    margin: 20px;
}

a {
    color: var(--link-and-highlight);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: var(--link-hover);
}

header {
    background-color: var(--hdr-bg);
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
}

header h1 {
    font-size: 48px;
    display: inline-block;
}

nav {
    display: inline-block;
    float: right;
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: right;
}

nav li  {
    display: inline-block;
    padding: 5px;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

h2 {
    font-size: 32px;
    line-height: 115%;
    margin-right: 7px;
}

.sub-title {
    /* font-weight:700; */
    text-align: right;
    /* margin-right: 15px; */
    border-right-style: solid;
    border-right-color: var(--body-clr);
    border-right-width: 6px;
    margin: 5px 15px 5px 0px;
}

/* .sub-desc {
} */

.work-proj-grid {
    display: grid;
    grid-template-areas:
        'c1 c1'
        'c2 c3'
        'c4 c5';
}

.work-project {
    background-color: aqua;
    padding: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    color: black;
    margin: 5px;
}

.star-project {
    background-color: aquamarine;
    color: #081030;
}

.c1 {
    grid-area: c1;
}

.c2 {
    grid-area: c2;
}

.c3 {
    grid-area: c3;
}

.c4 {
    grid-area: c4;
}

.c5 {
    grid-area: c5;
}

@media screen and (max-width: 768px) {  /* TODO - check this number */
    main {
        display: grid;
        grid-template-columns: 1fr;
    }
    .work-proj-grid {
        grid-template-areas:
        'c1'
        'c2'
        'c3'
        'c4'
        'c5';
    }
    .sub-title {
        font-weight:700;
        font-style: bold;
        text-align: left;
        border-right-style: none;
        /* margin: 5px 15px 5px 0px; */
        border-top-style: solid;
        border-top-color: var(--body-clr);
        border-top-width: 6px;
        border-bottom-style: solid;
        border-bottom-color: var(--body-clr);
        border-bottom-width: 6px;
        /* margin: 5px 15px 5px 0px; */
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .sub-title h2 {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    /* .sub-desc {
        width: 100%;
    } */
    .work-project img {
        width: 70%;
    }
    .star-project img {
        width: 100%;
    }
    
}

footer h4 {
    text-align: center;
    margin: 20px auto;
    font-size: smaller;
    /* color:rgb */
}



